@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Michroma&family=Montserrat:wght@100;200;300;500;600&family=Poiret+One&family=Poppins:wght@200;300;400;500;600&display=swap');
:root {

    --primary-color: #003566   ;
    --secondary-color: #FFC300 ;
    --accent1-color: #Ffff00;
    --accent2-color: white;
  
    
    --heading-font: "Michroma";
    --paragraph-font: Poiret One, Montserrat, sans-serif;
    --headline-color-on-white: #003566;  /* headlines on a white background */ 
    --headline-color-on-color: #Ffff00; /* headlines on a colored background */ 
    --paragraph-color-on-white: #003566; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #003566  ;
    --nav-link-color: white;
    --nav-background-color: #26428b;
    --nav-hover-link-color: #Ffff00;
    --nav-hover-background-color: #003566;
  }

  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }

  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
  }

  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }

  
  
  