/* Desktop Views */
@media only screen and (min-width: 60em){
    .serv-box {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .co1 {
        grid-column: 1/2;
    }
    .co2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .co3 {
        grid-column: span 1;
    }

    h1 {
        font-size: 2.5rem;
        margin: 1rem;
        color: #ffff99;
    } 

    h2 {
        font-size: 2rem;
        text-align: center;        
    }

    h3 {
        font-size: 1.4rem;
    }

    body {
        font-size: 20px;
    }

    /* lesson 07 */

    .discover-home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


    

    /* ----------------FORM------------------- */


    .princ {
        /* display: flex; */
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 20px;
        margin-top: 20px;
    }

    .values {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 15px;
    }
    .benef {
        height:fit-content;
    }
    .beneftitle {
        font-size: 2rem;
    }
    .msmeans, .provides {
        font-size: 20rem;
        padding: 10px;
    }

    .chambermembership h2 {
        font-size: 2rem;
    }
    .chambermembership p {
        font-size: 22px;
    }
   
}

