/* Tablet Views */
@media only screen and (min-width: 37.5em){
    #mode {
        top: 0.1rem;
        right: 1rem;
    }

    .serv-box {
        grid-template-columns: 1fr 1fr;
    }

    .serv-box:nth-child(3) {
        display: block;
    }

    .co3 {
        grid-column: span 2;
    }

    h1 {
        font-size: 2rem;
        margin: 1rem;
        color: #ffff99;
    } 

    h2 {
        font-size: 1.6rem;
        text-align: center;        
    }

    h3 {
        font-size: 1rem;
    }

    body {
        font-size: 15px;
    }

    #menu {
        display: none; /*hide hamburger button */
    } 
    .navigation {
        flex-direction: row;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .stuff {
        margin: 1rem auto;
    }

    .box {
        margin-top: 300px;
    }

    .location, .date, .temp, .humidity, .prev-text, .speed, .wind{
        font-size: 20px;
    }
    .dg, .nt, .sp, .msg p {
        font-size: 18px;
        padding: 20px;
    }

    .digcert, .network, .speed, .wind {
        padding: 15px;        
    }   
    
    .events {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .event {
        display: flex;
    }

    /* lesson 07 */

    .discover-home-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
    /* CSS Images Effects */

    /* .pctr 
    img { width: 250px; height: auto; margin: .25rem;}
    figcaption {font-size: smaller;}
    /* hover effect */
   /* .hover:hover {box-shadow: 0 0 50px #333;}*/
    /* rounded corners - boxmodel */
    /*.rocorn {border-radius: 15px 150px;} */

    .a1 {
        transform: rotate(0.05turn);
        border: 1px solid rgba(0,0,0,.3);
        padding: 1px;
        }

    /* hover effect */
    .a3:hover {
        box-shadow: 0 0 50px #333;
    }
    .leg1  {
        transform: rotate(0.05turn);
        margin-top: 10px;
        text-shadow: none;
        font-size: small;
        padding: 8px;
        font-weight: bold;
    }
    /* Weather Card */
    .weather-card {
    flex-direction: row;
    }

    .event {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



     /* ----------------FORM------------------- */

     .beneftitle {
        font-size: 1.5rem;
    }

    .msmeans, .provides {
        font-size: 2rem;
        padding: 15px;
            
    }
    .chambermembership h2 {
        font-size: 1.6rem;
    }
    .chambermembership p {
        font-size: 18px;
    }


    /* * DIRECTORY * */
    .home-grid .menu {        
        flex-direction: row;
    }
    #grid, #list {
        margin: 26px;
    }

    #business {
        display: grid;
        /* flex-direction: row; */
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 20px;
    }

    #business section {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 0 10px #333;
        border-bottom: 2px solid #fff;
        background-color: #396e90;       
    }

    #business section p {
        font-size: 12px;
        }
    #business img {
        margin: 20px;    
    }
    #business p {
        padding: 3px;
    }

    #business url {
        padding: 9px;
    }

    .list section img {
        display: none;
    }

    .list section #business {
        display:flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        /* background-color: #ffff99; */
    }
    .list section > * {
        /* background-color: black; */
        margin: 0 1rem;
        padding: 0;
        margin: 0;
    }
    /* #business, section {
        padding: 0;
        margin: 0;
    } */
    .list a {
        color: #ffff00;
        text-align: center;
    }
    .list #business section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #003566;
        color: #ffff00;
        border-bottom: none;
        margin: 0;
    }
    .list section #level, .list section #info {
        display: none;
    }
    
    .list #business section:nth-child(even) {
        background-color: #001d3d;
    }
        
        
}
