@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Michroma&family=Montserrat:wght@100;200;300;500;600&family=Poiret+One&family=Poppins:wght@200;300;400;500;600&display=swap');


/*----------- FORM --------------*/
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 15px;
    padding: .5rem 2%;
    max-width: 30rem;
    align-items: center;
    justify-content: center;
    background-color: #001d3d;
}

form legend {
    /* color: #445ba9; */
    color: #ffff00;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label, form div {
    display: block;
    padding-top: 1rem;
    /* color: #9c2c13; */
    color: #ffff00;
    font-size: 20px;
    /* font-size: .8rem; */
    text-shadow: none;
}

form label input, form label select {
    /* -webkit-appearance: none; */
    display: block;
    /* font-size: 1rem; */
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    /* color: #555; */
    /* color: #ffff00; */
    width: 100%;
    max-width: 20rem;
    /* background-color: rgba(0, 0, 0, 0.1); */
}


form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.submitBtn:hover {
	color: #ffff00;
    transition: transform 1.2s;
    box-shadow: 5px 5px 10px black;
    transform: scale(1.4);
}

form label input:required {
    border-left: red solid 6px;
    /* background-color: #26428B; */
}

form label input:required:valid {
    border-left: green solid 6px;
    /* background-color: #26428B; */
}

#answrrec {
    justify-content: center;
    text-align: center;
    /* color: #9c2c13; */
    padding: 10px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

 